.main {
    min-height: 80vh;
    padding: 20px;
    background-color: var(--primary-custom-green);
    text-align: center;
}

.main-background {
    min-height: 80vh;
    text-align: center;
    background: url("../../../assets/images/backgrd.jpg");
    background-size: cover;
}

.backdrop {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: auto;
    padding: 40px 20px;
}
